cache/lib_managed/
compile/interface/lib_managed/
compile/interface/target/
compile/target/
interface/src/main/resources/
interface/src_managed/
interface/target/
ivy/lib_managed/
ivy/target/
launch/interface/target/
launch/lib_managed/
launch/target/
launch/test-sample/target/
project/boot/
project/build/target/
project/plugins/lib_managed/
project/plugins/project/
project/plugins/src_managed/
project/plugins/target/
sbt/install/extract/lib_managed/
sbt/install/extract/target/
sbt/install/plugin/target/
sbt/jetty-compat/lib_managed/
sbt/jetty-compat/target/
sbt/lib_managed/
sbt/target/
scripted/lib_managed/
target/
tasks/lib_managed/
util/classpath/target/
util/control/target/
util/datatype/target/
util/io/lib_managed/
util/io/target/
