Andrea Peruffo <andrea.peruffo1982@gmail.com>
Ethan Atkins <github@ethanatkins.com>
Ethan Atkins <github@ethanatkins.com> <ethan.atkins@gmail.com> 
Eugene Yokota (eed3si9n) <eed3si9n@gmail.com>
Jorge Vicente Cantero <jorgevc@fastmail.es>
Kenji Yoshida (xuwei-k) <6b656e6a69@gmail.com>
Yasuhiro Tatsuno <mogami@exoego.net>
