{% include header.txt %}

{% include topbar.txt %}

<div class="cf" id="container">
  <div class="span2 columns container-spacer"><p>&nbsp;</p></div>
  <div id="intro" class="span10 columns content">
    <div id="head" class="cf">
      <div id="name" class="left">
        <h1>sbt</h1>
        <h2>{{page.title}}</h2>
        <p id="what">{{page.tagline}}</p>
      </div>
      <div class="left page-description" id="vc">
          {{page.description | markdownify }}
      </div>
    </div>
    <div id="features" class="cf">
      <div id="feature-list">
        <ul class="left">           
          {% for link in page.toplinks %}
            {% capture x %}{% cycle 'odd', 'even' %}{% endcapture %}
            {% if x == 'odd' %}
              {% if link.link %}
                <li><a href="{{link.link}}">{{link.name}}</a></li>
              {% else %}
                <li><a href="#{{link.id}}">{{link.name}}</a></li>
              {% endif %}
            {% endif %}
          {% endfor %}
        </ul>
        <ul class="left">
          {% for link in page.toplinks %}
            {% capture x %}{% cycle 'odd2', 'even2' %}{% endcapture %}
            {% if x == 'even2' %}
              {% if link.link %}
                <li><a href="{{link.link}}">{{link.name}}</a></li>
              {% else %}
                <li><a href="#{{link.id}}">{{link.name}}</a></li>
              {% endif %}
            {% endif %}
          {% endfor %}
         </ul>
       </div>
     </div>
    <div id="pagecontent" class="cf">
      {{ content }}   
    </div>
   </div>

   <div id="extra">
     <ul id="examples">
       {% for link in page.toplinks %}{% if link.content %}
         {% if link.content %}
           <li id="{{link.id}}" class="feature contained">{{ link.content | markdownify }}</li>
         {% endif %}
       {% endif %}{% endfor %}
     </ul>
   </div>
  </div>
  <div class="span6 columns"><p>&nbsp;</p></div>
</div>


{% include footer.txt %}
