{% include howto_header.txt %}

<div class="cf" id="container">
  <div class="span2 columns container-spacer"><p>&nbsp;</p></div>
  <div id="intro" class="span10 columns content">
    <div id="head" class="cf">
      <h2>{{page.title}}</h2>
    </div>
    <div class="cf"><div id="feature-list">
      <h3> How to ...</h3>
      <ul class="left" id="section-toc">
          {% for section in page.sections %}
             <li id="feature"><h5>... <a href="#{{section.id}}">{{section.name}}</a></h5></li>
          {% endfor %}
       </ul>
     </div></div>
    <div id="pagecontent" class="cf">
      {{ content }}   
    </div>
   </div>
  </div>
</div>


{% include footer.txt %}
