<!DOCTYPE web-app 
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" 
    "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
  <servlet>
    <servlet-name>helloJNDI</servlet-name>
    <servlet-class>HelloJndi</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>helloJNDI</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
</web-app>
