name: Nightly
on:
  workflow_dispatch:

jobs:
  deploy:
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            java: 8
    runs-on: ${{ matrix.os }}
    env:
      JAVA_OPTS: -Xms800M -Xmx800M -Xss6M -XX:ReservedCodeCacheSize=128M -server -Dsbt.io.virtual=false -Dfile.encoding=UTF-8
    steps:
    - name: Checkout sbt/sbt
      uses: actions/checkout@v2
    - name: Checkout sbt/io
      uses: actions/checkout@v2
      with:
        repository: sbt/io
        ref: wip/nightly
        path: io
    - name: Checkout sbt/librarymanagement
      uses: actions/checkout@v2
      with:
        repository: sbt/librarymanagement
        ref: wip/nightly
        path: librarymanagement
    - name: Checkout sbt/zinc
      uses: actions/checkout@v2
      with:
        repository: sbt/zinc
        ref: wip/nightly
        path: zinc
    - name: Setup
      uses: olafurpg/setup-scala@v10
      with:
        java-version: "adopt@1.${{ matrix.java }}"
    - name: Coursier cache
      uses: coursier/cache-action@v5
    - name: Build and deploy
      run: |
        # build from fresh IO, LM, and Zinc
        TIMESTAMP=$(TZ=UTC date +%Y%m%dT%H%M%S)
        export BUILD_VERSION="1.4.0-bin-${TIMESTAMP}"
        echo publishing to Package Registry $RELEASE_GITHUB_PACKAGE_REGISTRY
        cd io
        sbt -v -Dsbt.sbtbintray=false +publishLocal +publish
        cd ../
        sbt -Dsbtlm.path=$HOME/work/sbt/sbt/librarymanagement -Dsbtzinc.path=$HOME/work/sbt/sbt/zinc -Dsbt.sbtbintray=false -Dsbt.build.fatal=false "+lowerUtils/publish; {librarymanagement}/publish; {zinc}/publish; upperModules/publish"
        rm -rf "$HOME/.ivy2/local" || true
        rm -r $(find $HOME/.sbt/boot -name "*-SNAPSHOT") || true
        find $HOME/Library/Caches/Coursier/v1        -name "ivydata-*.properties" -delete || true
        find $HOME/.ivy2/cache                       -name "ivydata-*.properties" -delete || true
        find $HOME/.cache/coursier/v1                -name "ivydata-*.properties" -delete || true
        find $HOME/.sbt                              -name "*.lock"               -delete || true
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        RELEASE_GITHUB_PACKAGE_REGISTRY: sbt/sbt
